In [5]:
# Uncomment to install these libraries
!pip install pandas
!pip install pyspark

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 23.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=3ef1faa0e073fdcf161087c9e25f1a0255e707cb1180351b8afb3c22185351f0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count, size
from pyspark.sql.types import ArrayType, StringType, IntegerType
import pyspark.sql.functions as F

from pyspark import SparkFiles

from pprint import pprint

In [7]:
spark = SparkSession.builder.appName("Tweet Analysis").getOrCreate()

# Data Ingestion

In [ ]:
url = "https://s3.amazonaws.com/peyck.es/BDA_Project/oct18-oct19.csv"
spark.sparkContext.addFile(url)

In [ ]:
raw_df = spark.read.csv("file://"+SparkFiles.get("oct18-oct19.csv"), header=True, inferSchema= True)

In [ ]:
raw_df.show()

+-----------+---------------+---------------+-------+--------+---------+--------------------+----+--------------------+--------------------+--------+--------------------+
|       date|       username|             to|replies|retweets|favorites|                text| geo|            mentions|            hashtags|      id|           permalink|
+-----------+---------------+---------------+-------+--------+---------+--------------------+----+--------------------+--------------------+--------+--------------------+
|4/1/19 0:00|  SneakerShouts|           null|      0|       2|       24|"STEAL: Over 50% ...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|Ebay_Birmingham|           null|      0|       0|        0|Check out #Nike D...|null|               @eBay|#Nike #Nike #ebay...|1.11E+18|https://twitter.c...|
|4/1/19 0:00|    SneakerNews|           null|      2|      15|      102|"The Nike Air Max...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|     titoloshop|           null|      0|       0|        0|Nike Air Vapormax...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|   Taniabanks24|BornLiveDieFree|      2|       0|        0|@MichaelAvenatti ...|null|    @MichaelAvenatti|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|         bodega|           null|      0|       0|       11|Nike Moon Racer Q...|null|                null|#nike #footwear #...|1.11E+18|https://twitter.c...|
|4/1/19 0:00|   mitasneakers|           null|      0|       0|        3|"NIKE AIR VAPORMA...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|  CentervilleCF|           null|      0|       0|        2|Put the Nike Metc...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01| BBNSportsKSCDJ|           null|      0|       0|        0|Time to buy Nike ...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|    SoleInsider|           null|      0|       0|        0|A Closer Look At ...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|     WendyCerne|  MollyJongFast|      0|       0|        1|Perfect time for ...|null|        @Kaepernick7|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|      robseize_|           null|      0|       0|        0|I‚Äôm trying to p...|null|                null|       #Nike #Adidas|1.11E+18|https://twitter.c...|
|4/1/19 0:02| nexgenscouting|           null|      0|       3|        7|NEXGEN-NEW ENGLAN...|null|@Coach_NFT @hbour...|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|     snkr_twitr|           null|      0|       6|        7|30% off the Nike ...|null|                null|              #ADpic|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2007 AIR JORDAN 3...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2017 NIKE AIR MAX...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2018 AIR JORDAN 3...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|    breezeavery|           null|     19|       1|       97|okay hi i‚Äôm dec...|null|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|     StockXLive|           null|      0|       2|        2|"Lowest Ask: $104...|null|                null|  #nikebasketballpic|1.11E+18|https://twitter.c...|
|4/1/19 0:02|   MrsSimone2u_|           null|      0|       0|        0|Check out what I'...|null|                null|                null|1.11E+18|https://twitter.c...|
+-----------+---------------+---------------+-------+--------+---------+--------------------+----+--------------------+--------------------+--------+--------------------+
only showing top 20 rows

# Data Cleaning & Data Validation

## Handling None Values

In [ ]:
def check_for_nan(df, subset=None):
    if subset:
        df = df.select(subset)
    for column in df.columns:
        df = df.withColumn(column, df["`{}`".format(column)].cast("string"))
    nan_df = df.select(
        [
            count(
                when(
                    col(c).contains("None")
                    | col(c).contains("NULL")
                    | col(c).contains("NaN")
                    | (col(c) == "")
                    | col(c).isNull()
                    | isnan(c),
                    c,
                )
            ).alias(c)
            for c in df.columns
        ]
    )
    return nan_df.toPandas()

In [ ]:
nans_in_df = check_for_nan(raw_df)

In [ ]:
print(f"Total number of samples: {raw_df.count()}")

Total number of samples: 4430893

In [ ]:
nans_in_df.head()

   date  username       to  replies  ...  mentions  hashtags     id  permalink
0     0      1307  2984222        0  ...   3378046   3298391  24541      10273

[1 rows x 12 columns]

From a quick look, it seems:
1. More than half of the "to" feature values are None.
2. Almost all of the "geo" feature values are None.
3. Most of the mentions and hashtags are None.

From the above data, we can conclude that most users tweeting about Nike don't address the tweet to any single entity. They also don't include any geo location to their tweet. And they don't use mentions or hashtags when tweeting about Nike.

**1. Because most of the values within geo feature are None, so we're going to drop "geo" from the dataframe.**

**2. We cannot drop rows where feature "to", "mentions" & "hashtags" are None because a lot of samples are missing these values. We can replace None with empty string for "to", "mentions", "hashtags" later.**

In [ ]:
mostly_nan_features = 'geo'
df = raw_df.drop(mostly_nan_features)

In [ ]:
df.show()

+-----------+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+
|       date|       username|             to|replies|retweets|favorites|                text|            mentions|            hashtags|      id|           permalink|
+-----------+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+
|4/1/19 0:00|  SneakerShouts|           null|      0|       2|       24|"STEAL: Over 50% ...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|Ebay_Birmingham|           null|      0|       0|        0|Check out #Nike D...|               @eBay|#Nike #Nike #ebay...|1.11E+18|https://twitter.c...|
|4/1/19 0:00|    SneakerNews|           null|      2|      15|      102|"The Nike Air Max...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|     titoloshop|           null|      0|       0|        0|Nike Air Vapormax...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|   Taniabanks24|BornLiveDieFree|      2|       0|        0|@MichaelAvenatti ...|    @MichaelAvenatti|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|         bodega|           null|      0|       0|       11|Nike Moon Racer Q...|                null|#nike #footwear #...|1.11E+18|https://twitter.c...|
|4/1/19 0:00|   mitasneakers|           null|      0|       0|        3|"NIKE AIR VAPORMA...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:00|  CentervilleCF|           null|      0|       0|        2|Put the Nike Metc...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01| BBNSportsKSCDJ|           null|      0|       0|        0|Time to buy Nike ...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|    SoleInsider|           null|      0|       0|        0|A Closer Look At ...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|     WendyCerne|  MollyJongFast|      0|       0|        1|Perfect time for ...|        @Kaepernick7|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:01|      robseize_|           null|      0|       0|        0|I‚Äôm trying to p...|                null|       #Nike #Adidas|1.11E+18|https://twitter.c...|
|4/1/19 0:02| nexgenscouting|           null|      0|       3|        7|NEXGEN-NEW ENGLAN...|@Coach_NFT @hbour...|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|     snkr_twitr|           null|      0|       6|        7|30% off the Nike ...|                null|              #ADpic|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2007 AIR JORDAN 3...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2017 NIKE AIR MAX...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|  JustMightLook|           null|      0|       0|        0|2018 AIR JORDAN 3...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|    breezeavery|           null|     19|       1|       97|okay hi i‚Äôm dec...|                null|                null|1.11E+18|https://twitter.c...|
|4/1/19 0:02|     StockXLive|           null|      0|       2|        2|"Lowest Ask: $104...|                null|  #nikebasketballpic|1.11E+18|https://twitter.c...|
|4/1/19 0:02|   MrsSimone2u_|           null|      0|       0|        0|Check out what I'...|                null|                null|1.11E+18|https://twitter.c...|
+-----------+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
# Replacing None with empty string
none_to_empty_string_features = ['to', 'mentions', 'hashtags']
df = df.fillna('', subset=none_to_empty_string_features)

## Checking for Data Types

In [ ]:
pprint(dict(df.dtypes))

{'date': 'string',
 'favorites': 'int',
 'hashtags': 'string',
 'id': 'string',
 'mentions': 'string',
 'permalink': 'string',
 'replies': 'int',
 'retweets': 'int',
 'text': 'string',
 'to': 'string',
 'username': 'string'}

As you can see, most of the features are either string or int. However, it doesn't make sense for the "date" feature to be string. We need to change "date" feature from string to date type.

We also need to clean "mentions" and "hashtags".

In [ ]:
def convert_timestamp(df, timestamp_column, replace_original=True):
    df_with_timestamp = df.withColumn(
        "timestamp", F.to_timestamp(timestamp_column, "M/d/yy H:mm")
    )

    # Making sure timestamp conversion took place accurately without creating any new NaN values
    nan_df = check_for_nan(df_with_timestamp, subset=["timestamp"])
    if nan_df["timestamp"].values[0] > 0:
        raise ValueError(
            f"Conversion of {timestamp_column} to type timestamp generated unexpected"
            f"NaN values."
        )

    if replace_original:
        df_with_timestamp = df_with_timestamp.drop(timestamp_column)
        df_with_timestamp = df_with_timestamp.withColumnRenamed(
            "timestamp", timestamp_column
        )
    return df_with_timestamp

In [ ]:
# Convert date to timestamp type
df = convert_timestamp(df, "date")

In [ ]:
def remove_empty_strings(list_of_strings):
  return [string for string in list_of_strings if string]
clean_list = F.udf(remove_empty_strings, ArrayType(StringType()))

def break_into_list(df, feature, special_identifier):
  df = df.withColumn(feature, clean_list(F.split(feature, special_identifier)))
  return df

In [ ]:
# Converting 'mentions' and 'hashtags' from string to list of string
df = break_into_list(df, 'hashtags', '#')
df = break_into_list(df, 'mentions', '@')

In [ ]:
df.show()

+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+-------------------+
|       username|             to|replies|retweets|favorites|                text|            mentions|            hashtags|      id|           permalink|               date|
+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+-------------------+
|  SneakerShouts|               |      0|       2|       24|"STEAL: Over 50% ...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|Ebay_Birmingham|               |      0|       0|        0|Check out #Nike D...|              [eBay]|[Nike , Nike , eb...|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|    SneakerNews|               |      2|      15|      102|"The Nike Air Max...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|     titoloshop|               |      0|       0|        0|Nike Air Vapormax...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|   Taniabanks24|BornLiveDieFree|      2|       0|        0|@MichaelAvenatti ...|   [MichaelAvenatti]|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|         bodega|               |      0|       0|       11|Nike Moon Racer Q...|                  []|[nike , footwear ...|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|   mitasneakers|               |      0|       0|        3|"NIKE AIR VAPORMA...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
|  CentervilleCF|               |      0|       0|        2|Put the Nike Metc...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:00:00|
| BBNSportsKSCDJ|               |      0|       0|        0|Time to buy Nike ...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:01:00|
|    SoleInsider|               |      0|       0|        0|A Closer Look At ...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:01:00|
|     WendyCerne|  MollyJongFast|      0|       0|        1|Perfect time for ...|       [Kaepernick7]|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:01:00|
|      robseize_|               |      0|       0|        0|I‚Äôm trying to p...|                  []|     [Nike , Adidas]|1.11E+18|https://twitter.c...|2019-04-01 00:01:00|
| nexgenscouting|               |      0|       3|        7|NEXGEN-NEW ENGLAN...|[Coach_NFT , hbou...|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|     snkr_twitr|               |      0|       6|        7|30% off the Nike ...|                  []|             [ADpic]|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|  JustMightLook|               |      0|       0|        0|2007 AIR JORDAN 3...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|  JustMightLook|               |      0|       0|        0|2017 NIKE AIR MAX...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|  JustMightLook|               |      0|       0|        0|2018 AIR JORDAN 3...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|    breezeavery|               |     19|       1|       97|okay hi i‚Äôm dec...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|     StockXLive|               |      0|       2|        2|"Lowest Ask: $104...|                  []| [nikebasketballpic]|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
|   MrsSimone2u_|               |      0|       0|        0|Check out what I'...|                  []|                  []|1.11E+18|https://twitter.c...|2019-04-01 00:02:00|
+---------------+---------------+-------+--------+---------+--------------------+--------------------+--------------------+--------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
pprint(df.dtypes)

[('username', 'string'),
 ('to', 'string'),
 ('replies', 'int'),
 ('retweets', 'int'),
 ('favorites', 'int'),
 ('text', 'string'),
 ('mentions', 'array<string>'),
 ('hashtags', 'array<string>'),
 ('id', 'string'),
 ('permalink', 'string'),
 ('date', 'timestamp')]

We've succesfully changed the data types to data types more suitable for analysis.

## Dropping Unwanted Features

There are some columns which are purely randomly assigned to a tweet and are of no significance to our analysis. We should drop these columns. These columns are:
1. "id" feature: because ids are randomly assigned.
2. "permanlik" feature: link to tweet doesn't affect the analysis.

In [ ]:
unwanted_features = ("id", "permalink")
df = df.drop(*unwanted_features)

# Data Pre-processing

Our hypothesis was **"Given a tweet, we can predict the number of engagements."** Let's prepare the dataset for the same.

## Creating Labels

We're predicting engagements. In our case engagement would be the sum of "replies", "retweets & "favourites" features.

In [ ]:
df = df.withColumn("engagement", F.col("replies") + F.col("retweets") + F.col("favorites"))

In [ ]:
label_columns = ('replies', 'retweets', 'favorites')
df = df.drop(*label_columns)

In [ ]:
df.show()

+---------------+---------------+--------------------+--------------------+--------------------+-------------------+----------+
|       username|             to|                text|            mentions|            hashtags|               date|engagement|
+---------------+---------------+--------------------+--------------------+--------------------+-------------------+----------+
|  SneakerShouts|               |"STEAL: Over 50% ...|                  []|                  []|2019-04-01 00:00:00|        26|
|Ebay_Birmingham|               |Check out #Nike D...|              [eBay]|[Nike , Nike , eb...|2019-04-01 00:00:00|         0|
|    SneakerNews|               |"The Nike Air Max...|                  []|                  []|2019-04-01 00:00:00|       119|
|     titoloshop|               |Nike Air Vapormax...|                  []|                  []|2019-04-01 00:00:00|         0|
|   Taniabanks24|BornLiveDieFree|@MichaelAvenatti ...|   [MichaelAvenatti]|                  []|2019-04-01 00:00:00|         2|
|         bodega|               |Nike Moon Racer Q...|                  []|[nike , footwear ...|2019-04-01 00:00:00|        11|
|   mitasneakers|               |"NIKE AIR VAPORMA...|                  []|                  []|2019-04-01 00:00:00|         3|
|  CentervilleCF|               |Put the Nike Metc...|                  []|                  []|2019-04-01 00:00:00|         2|
| BBNSportsKSCDJ|               |Time to buy Nike ...|                  []|                  []|2019-04-01 00:01:00|         0|
|    SoleInsider|               |A Closer Look At ...|                  []|                  []|2019-04-01 00:01:00|         0|
|     WendyCerne|  MollyJongFast|Perfect time for ...|       [Kaepernick7]|                  []|2019-04-01 00:01:00|         1|
|      robseize_|               |I‚Äôm trying to p...|                  []|     [Nike , Adidas]|2019-04-01 00:01:00|         0|
| nexgenscouting|               |NEXGEN-NEW ENGLAN...|[Coach_NFT , hbou...|                  []|2019-04-01 00:02:00|        10|
|     snkr_twitr|               |30% off the Nike ...|                  []|             [ADpic]|2019-04-01 00:02:00|        13|
|  JustMightLook|               |2007 AIR JORDAN 3...|                  []|                  []|2019-04-01 00:02:00|         0|
|  JustMightLook|               |2017 NIKE AIR MAX...|                  []|                  []|2019-04-01 00:02:00|         0|
|  JustMightLook|               |2018 AIR JORDAN 3...|                  []|                  []|2019-04-01 00:02:00|         0|
|    breezeavery|               |okay hi i‚Äôm dec...|                  []|                  []|2019-04-01 00:02:00|       117|
|     StockXLive|               |"Lowest Ask: $104...|                  []| [nikebasketballpic]|2019-04-01 00:02:00|         4|
|   MrsSimone2u_|               |Check out what I'...|                  []|                  []|2019-04-01 00:02:00|         0|
+---------------+---------------+--------------------+--------------------+--------------------+-------------------+----------+
only showing top 20 rows

## Building Features

## Extracting Information From Hashtag

In [ ]:
df = df.withColumn('number_hashtags', size(F.col('hashtags')))

# Since hashtags are already part of the main text. We can drop the actual hashtag.
df = df.drop('hashtags')

## Extracting Information From Mentions

In [ ]:
df = df.withColumn('number_mentions', size(F.col('mentions')))

# Since hashtags are already part of the main text. We can drop the actual hashtag.
df = df.drop('mentions')

In [ ]:
df.show()

+---------------+---------------+--------------------+-------------------+----------+---------------+---------------+
|       username|             to|                text|               date|engagement|number_hashtags|number_mentions|
+---------------+---------------+--------------------+-------------------+----------+---------------+---------------+
|  SneakerShouts|               |"STEAL: Over 50% ...|2019-04-01 00:00:00|        26|              0|              0|
|Ebay_Birmingham|               |Check out #Nike D...|2019-04-01 00:00:00|         0|              5|              1|
|    SneakerNews|               |"The Nike Air Max...|2019-04-01 00:00:00|       119|              0|              0|
|     titoloshop|               |Nike Air Vapormax...|2019-04-01 00:00:00|         0|              0|              0|
|   Taniabanks24|BornLiveDieFree|@MichaelAvenatti ...|2019-04-01 00:00:00|         2|              0|              1|
|         bodega|               |Nike Moon Racer Q...|2019-04-01 00:00:00|        11|              3|              0|
|   mitasneakers|               |"NIKE AIR VAPORMA...|2019-04-01 00:00:00|         3|              0|              0|
|  CentervilleCF|               |Put the Nike Metc...|2019-04-01 00:00:00|         2|              0|              0|
| BBNSportsKSCDJ|               |Time to buy Nike ...|2019-04-01 00:01:00|         0|              0|              0|
|    SoleInsider|               |A Closer Look At ...|2019-04-01 00:01:00|         0|              0|              0|
|     WendyCerne|  MollyJongFast|Perfect time for ...|2019-04-01 00:01:00|         1|              0|              1|
|      robseize_|               |I‚Äôm trying to p...|2019-04-01 00:01:00|         0|              2|              0|
| nexgenscouting|               |NEXGEN-NEW ENGLAN...|2019-04-01 00:02:00|        10|              0|              4|
|     snkr_twitr|               |30% off the Nike ...|2019-04-01 00:02:00|        13|              1|              0|
|  JustMightLook|               |2007 AIR JORDAN 3...|2019-04-01 00:02:00|         0|              0|              0|
|  JustMightLook|               |2017 NIKE AIR MAX...|2019-04-01 00:02:00|         0|              0|              0|
|  JustMightLook|               |2018 AIR JORDAN 3...|2019-04-01 00:02:00|         0|              0|              0|
|    breezeavery|               |okay hi i‚Äôm dec...|2019-04-01 00:02:00|       117|              0|              0|
|     StockXLive|               |"Lowest Ask: $104...|2019-04-01 00:02:00|         4|              1|              0|
|   MrsSimone2u_|               |Check out what I'...|2019-04-01 00:02:00|         0|              0|              0|
+---------------+---------------+--------------------+-------------------+----------+---------------+---------------+
only showing top 20 rows

### Converting "username" & "to" feature to one-hot encoded feature

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer

def one_hot_encode(df, feature):
  df = df.withColumn(feature, when(F.col(feature) == '', None).otherwise(F.col(feature)))

  # Map strings to numbers with string indexer
  string_indexer = StringIndexer(inputCol=feature, outputCol=f'{feature}_index')
  indexed_df = string_indexer.fit(df).transform(df)

  # Onehot encode indexed values
  encoder = OneHotEncoder(inputCol=f'{feature}_index', outputCol=f'{feature}_vec')
  encoded_df = encoder.fit(indexed_df).transform(indexed_df)

  extra_column = (feature, f"{feature}_index")
  encoded_df = encoded_df.drop(*extra_column)

  return encoded_df

In [ ]:
# df = one_hot_encode(df, 'username')

In [ ]:
# df = one_hot_encode(df, 'to')

In [ ]:
# df.show()

## Processing Twitter Text

In [ ]:
from pyspark.sql.functions import regexp_replace
from pyspark.ml.feature import Tokenizer

# Remove punctuation (REGEX provided) and numbers
wrangled = df.withColumn('text', regexp_replace(df.text, '[_():;,.@#\/!%\+?\\-]', ' '))
wrangled = wrangled.withColumn('text', regexp_replace(wrangled.text, '[0-9]', ' '))

# Merge multiple spaces
wrangled = wrangled.withColumn('text', regexp_replace(wrangled.text, ' +', ' '))

# Split the text into words
wrangled = Tokenizer(inputCol='text', outputCol='words').transform(wrangled)

wrangled.show(4, truncate=False)

+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|username       |to |text                                                                                                                                          |date               |engagement|number_hashtags|number_mentions|words                                                                                                                                                                     |
+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|SneakerShouts  |   |"STEAL Over OFF free shipping on the Nike Air Huarache OG ""Persian Violet"" BUY HERE http bit ly wsRZdW pic twitter com f nIazjbmT"          |2019-04-01 00:00:00|26        |0              |0              |["steal, over, off, free, shipping, on, the, nike, air, huarache, og, ""persian, violet"", buy, here, http, bit, ly, wsrzdw, pic, twitter, com, f, niazjbmt"]             |
|Ebay_Birmingham|   |Check out Nike Dry Fit Shorts Women's Tempo Neon Pink Yellow Lined Swoosh Active Sz M Nike https ebay us WY wrA via eBay ebay poshmark mercari|2019-04-01 00:00:00|0         |5              |1              |[check, out, nike, dry, fit, shorts, women's, tempo, neon, pink, yellow, lined, swoosh, active, sz, m, nike, https, ebay, us, wy, wra, via, ebay, ebay, poshmark, mercari]|
|SneakerNews    |   |"The Nike Air Max ""Seoul"" will release via Nike SNKRS on April th https snkrne ws uw i E pic twitter com MPcKBT lz"                         |2019-04-01 00:00:00|119       |0              |0              |["the, nike, air, max, ""seoul"", will, release, via, nike, snkrs, on, april, th, https, snkrne, ws, uw, i, e, pic, twitter, com, mpckbt, lz"]                            |
|titoloshop     |   |Nike Air Vapormax Flyknit Atmosphere Grey Reflect Silver RELEASE Monday st April AM CET http bit ly HXA OU pic twitter com kRvrW rXDw         |2019-04-01 00:00:00|0         |0              |0              |[nike, air, vapormax, flyknit, atmosphere, grey, reflect, silver, release, monday, st, april, am, cet, http, bit, ly, hxa, ou, pic, twitter, com, krvrw, rxdw]            |
+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 4 rows

In [ ]:
from pyspark.ml.feature import StopWordsRemover, HashingTF, IDF

# Remove stop words.
wrangled = StopWordsRemover(inputCol='words', outputCol='terms')\
      .transform(wrangled)

# Apply the hashing trick
wrangled = HashingTF(inputCol='terms', outputCol='hash', numFeatures=1024)\
      .transform(wrangled)

# Convert hashed symbols to TF-IDF
tf_idf = IDF(inputCol='hash', outputCol='features')\
      .fit(wrangled).transform(wrangled)
      
tf_idf.select('terms', 'features').show(4, truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|terms                                                                                                                                                                |features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|["steal, free, shipping, nike, air, huarache, og, ""persian, violet"", buy, http, bit, ly, wsrzdw, pic, twitter, com, f, niazjbmt"]                                  |(1024,[120,193,221,329,330,488,531,549,595,598,638,671,768,789,830,915,950,979,996],[1.8548635531406916,3.4263211514376684,2.3388469034105257,1.7377334665793225,3.576042825398918,1.0266078608494207,1.5847334870686396,2.4250641969813755,3.851605480514457,0.6604404580880586,4.583204153385793,3.717044205279833,3.0257883902962495,4.692022239879393,3.112807801705332,5.438689755800993,5.524148861279697,4.912719434612777,0.18262619183558798])                                                                                         |
|[check, nike, dry, fit, shorts, women's, tempo, neon, pink, yellow, lined, swoosh, active, sz, m, nike, https, ebay, us, wy, wra, via, ebay, ebay, poshmark, mercari]|(1024,[5,33,102,142,169,190,217,253,255,256,282,286,429,481,568,612,674,723,892,993,996],[3.4852397095520624,3.9289668694740367,9.480982418106029,2.6028340233936036,3.941846574845976,7.453056186831011,3.2508175706538003,2.3386877810169895,5.1849083395087865,5.66367887762125,3.2125863091843048,1.0849018191379904,4.840237455885431,3.465118159654279,4.171788240943575,2.9306494844640913,4.834685761175297,5.313346366887139,7.714225225352532,2.523123987815006,0.36525238367117596])                                                 |
|["the, nike, air, max, ""seoul"", release, via, nike, snkrs, april, th, https, snkrne, ws, uw, e, pic, twitter, com, mpckbt, lz"]                                    |(1024,[1,27,83,104,120,141,174,228,286,488,531,598,696,718,782,854,923,993,996],[4.981354985909638,5.233839557349374,4.575418761081812,2.8385908027674067,1.8548635531406916,4.157983895027424,3.855479680453638,3.1639974770647044,1.0849018191379904,1.0266078608494207,3.169466974137279,0.6604404580880586,3.664536190636609,5.026512344544058,3.086481333166425,2.695214322686365,2.6210941756483077,2.523123987815006,0.36525238367117596])                                                                                               |
|[nike, air, vapormax, flyknit, atmosphere, grey, reflect, silver, release, monday, st, april, cet, http, bit, ly, hxa, ou, pic, twitter, com, krvrw, rxdw]           |(1024,[120,208,217,221,228,317,327,329,478,488,531,536,549,565,589,598,619,701,727,758,851,923,996],[1.8548635531406916,5.203208972252721,3.2508175706538003,2.3388469034105257,3.1639974770647044,4.636599433800818,4.872823647022248,1.7377334665793225,3.9986658401369786,1.0266078608494207,1.5847334870686396,5.02771689444621,2.4250641969813755,3.598617589314595,4.303413067241718,0.6604404580880586,4.434039848065577,4.072594922006285,3.978769838475758,4.006386646119998,4.498108076541884,2.6210941756483077,0.18262619183558798])|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 4 rows

In [ ]:
tf_idf.show(4, truncate=False)

+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|username       |to |text                                                                                                                                          |date               |engagement|number_hashtags|number_mentions|words                                                                                                                                                                     |terms                                                                                                                                                                |hash                                                                                                                                                                                              |features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|SneakerShouts  |   |"STEAL Over OFF free shipping on the Nike Air Huarache OG ""Persian Violet"" BUY HERE http bit ly wsRZdW pic twitter com f nIazjbmT"          |2019-04-01 00:00:00|26        |0              |0              |["steal, over, off, free, shipping, on, the, nike, air, huarache, og, ""persian, violet"", buy, here, http, bit, ly, wsrzdw, pic, twitter, com, f, niazjbmt"]             |["steal, free, shipping, nike, air, huarache, og, ""persian, violet"", buy, http, bit, ly, wsrzdw, pic, twitter, com, f, niazjbmt"]                                  |(1024,[120,193,221,329,330,488,531,549,595,598,638,671,768,789,830,915,950,979,996],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])                                |(1024,[120,193,221,329,330,488,531,549,595,598,638,671,768,789,830,915,950,979,996],[1.8548635531406916,3.4263211514376684,2.3388469034105257,1.7377334665793225,3.576042825398918,1.0266078608494207,1.5847334870686396,2.4250641969813755,3.851605480514457,0.6604404580880586,4.583204153385793,3.717044205279833,3.0257883902962495,4.692022239879393,3.112807801705332,5.438689755800993,5.524148861279697,4.912719434612777,0.18262619183558798])                                                                                         |
|Ebay_Birmingham|   |Check out Nike Dry Fit Shorts Women's Tempo Neon Pink Yellow Lined Swoosh Active Sz M Nike https ebay us WY wrA via eBay ebay poshmark mercari|2019-04-01 00:00:00|0         |5              |1              |[check, out, nike, dry, fit, shorts, women's, tempo, neon, pink, yellow, lined, swoosh, active, sz, m, nike, https, ebay, us, wy, wra, via, ebay, ebay, poshmark, mercari]|[check, nike, dry, fit, shorts, women's, tempo, neon, pink, yellow, lined, swoosh, active, sz, m, nike, https, ebay, us, wy, wra, via, ebay, ebay, poshmark, mercari]|(1024,[5,33,102,142,169,190,217,253,255,256,282,286,429,481,568,612,674,723,892,993,996],[1.0,1.0,2.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0])                   |(1024,[5,33,102,142,169,190,217,253,255,256,282,286,429,481,568,612,674,723,892,993,996],[3.4852397095520624,3.9289668694740367,9.480982418106029,2.6028340233936036,3.941846574845976,7.453056186831011,3.2508175706538003,2.3386877810169895,5.1849083395087865,5.66367887762125,3.2125863091843048,1.0849018191379904,4.840237455885431,3.465118159654279,4.171788240943575,2.9306494844640913,4.834685761175297,5.313346366887139,7.714225225352532,2.523123987815006,0.36525238367117596])                                                 |
|SneakerNews    |   |"The Nike Air Max ""Seoul"" will release via Nike SNKRS on April th https snkrne ws uw i E pic twitter com MPcKBT lz"                         |2019-04-01 00:00:00|119       |0              |0              |["the, nike, air, max, ""seoul"", will, release, via, nike, snkrs, on, april, th, https, snkrne, ws, uw, i, e, pic, twitter, com, mpckbt, lz"]                            |["the, nike, air, max, ""seoul"", release, via, nike, snkrs, april, th, https, snkrne, ws, uw, e, pic, twitter, com, mpckbt, lz"]                                    |(1024,[1,27,83,104,120,141,174,228,286,488,531,598,696,718,782,854,923,993,996],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0])                                    |(1024,[1,27,83,104,120,141,174,228,286,488,531,598,696,718,782,854,923,993,996],[4.981354985909638,5.233839557349374,4.575418761081812,2.8385908027674067,1.8548635531406916,4.157983895027424,3.855479680453638,3.1639974770647044,1.0849018191379904,1.0266078608494207,3.169466974137279,0.6604404580880586,3.664536190636609,5.026512344544058,3.086481333166425,2.695214322686365,2.6210941756483077,2.523123987815006,0.36525238367117596])                                                                                               |
|titoloshop     |   |Nike Air Vapormax Flyknit Atmosphere Grey Reflect Silver RELEASE Monday st April AM CET http bit ly HXA OU pic twitter com kRvrW rXDw         |2019-04-01 00:00:00|0         |0              |0              |[nike, air, vapormax, flyknit, atmosphere, grey, reflect, silver, release, monday, st, april, am, cet, http, bit, ly, hxa, ou, pic, twitter, com, krvrw, rxdw]            |[nike, air, vapormax, flyknit, atmosphere, grey, reflect, silver, release, monday, st, april, cet, http, bit, ly, hxa, ou, pic, twitter, com, krvrw, rxdw]           |(1024,[120,208,217,221,228,317,327,329,478,488,531,536,549,565,589,598,619,701,727,758,851,923,996],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])|(1024,[120,208,217,221,228,317,327,329,478,488,531,536,549,565,589,598,619,701,727,758,851,923,996],[1.8548635531406916,5.203208972252721,3.2508175706538003,2.3388469034105257,3.1639974770647044,4.636599433800818,4.872823647022248,1.7377334665793225,3.9986658401369786,1.0266078608494207,1.5847334870686396,5.02771689444621,2.4250641969813755,3.598617589314595,4.303413067241718,0.6604404580880586,4.434039848065577,4.072594922006285,3.978769838475758,4.006386646119998,4.498108076541884,2.6210941756483077,0.18262619183558798])|
+---------------+---+----------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------+---------------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 4 rows

In [ ]:
# Convert text to embedding
# Convert hashtags to one-hot encoding
# Convert username to one-hot encoding
# Convert "to" to one-hot encoding
# Convert date

# Model Training

In [ ]:
trainable_tf_id = tf_idf.select('username', 'number_hashtags', 'number_mentions', 'features', 'engagement')

In [ ]:
trainable_tf_id.show()

+---------------+---------------+---------------+--------------------+----------+
|       username|number_hashtags|number_mentions|            features|engagement|
+---------------+---------------+---------------+--------------------+----------+
|  SneakerShouts|              0|              0|(1024,[120,193,22...|        26|
|Ebay_Birmingham|              5|              1|(1024,[5,33,102,1...|         0|
|    SneakerNews|              0|              0|(1024,[1,27,83,10...|       119|
|     titoloshop|              0|              0|(1024,[120,208,21...|         0|
|   Taniabanks24|              0|              1|(1024,[18,49,179,...|         2|
|         bodega|              3|              0|(1024,[140,171,22...|        11|
|   mitasneakers|              0|              0|(1024,[63,120,145...|         3|
|  CentervilleCF|              0|              0|(1024,[192,286,34...|         2|
| BBNSportsKSCDJ|              0|              0|(1024,[265,355,68...|         0|
|    SoleInsider|              0|              0|(1024,[61,120,286...|         0|
|     WendyCerne|              0|              1|(1024,[328,340,36...|         1|
|      robseize_|              2|              0|(1024,[72,165,277...|         0|
| nexgenscouting|              0|              4|(1024,[43,119,186...|        10|
|     snkr_twitr|              1|              0|(1024,[84,100,120...|        13|
|  JustMightLook|              0|              0|(1024,[58,104,120...|         0|
|  JustMightLook|              0|              0|(1024,[58,104,120...|         0|
|  JustMightLook|              0|              0|(1024,[11,58,104,...|         0|
|    breezeavery|              0|              0|(1024,[16,133,165...|       117|
|     StockXLive|              1|              0|(1024,[184,250,28...|         4|
|   MrsSimone2u_|              0|              0|(1024,[87,100,120...|         0|
+---------------+---------------+---------------+--------------------+----------+
only showing top 20 rows

In [ ]:
#**Just for testing purpose **

# Import LinearRegression
from pyspark.ml.regression import LinearRegression

# Split the data into training and testing sets
tf_train, tf_test = trainable_tf_id.randomSplit([0.999, 0.001], seed=13)

# Fit a Logistic Regression model to the training data
linear = LinearRegression(labelCol='engagement').fit(tf_test)

# Make predictions on the testing data
prediction = linear.transform(tf_test)
#y_pred = LinearRegression.predict(tf_test)
# Create a confusion matrix, comparing predictions to known labels
prediction.groupBy('username', 'engagement').count().show()

+---------------+----------+-----+
|       username|engagement|count|
+---------------+----------+-----+
|    ClosEMSmile|        22|    1|
|       BluThief|         0|    1|
|  ChrisShaw20KC|         0|    1|
| kutsushita___3|         9|    1|
|Hg1AWnAVVZcbSGq|         1|    1|
|      juliush23|         1|    1|
| lionslogistics|         2|    1|
|superyeezyboost|         1|    1|
| KaylieAbelaArt|         0|    1|
|Shop_FINAL_FOUR|         1|    1|
|     ayeeeeeric|         2|    1|
|       Griouard|         1|    1|
|  IsaiahDavid96|         0|    1|
|     snoozie223|         2|    1|
|      MrTamPham|         0|    1|
|DlameBuhlebethu|         2|    1|
|    Inkfacefahz|         4|    1|
|     marlatroll|         0|    1|
|      FSURising|         0|    1|
|  SoleTalkDaily|         0|    6|
+---------------+----------+-----+
only showing top 20 rows

Logistic algorithm

In [ ]:
val seed = 5000
val Array(tf_train, tf_test) = trainable_tf_id.randomSplit(Array(0.6, 0.4), seed)

// train logistic regression model with training data set
val logisticRegression = new LogisticRegression()
  .setMaxIter(100)
  .setRegParam(0.02)
  .setElasticNetParam(0.8)
val logisticRegressionModel = logisticRegression.fit(tf_train)

// run model with test data set to get predictions
// this will add new columns rawPrediction, probability and prediction
val predictionDf = logisticRegressionModel.transform(tf_test)
predictionDf.show(10)

In [ ]:
# evaluate model with area under ROC
val evaluator = new BinaryClassificationEvaluator()
  .setLabelCol("engagement")
  .setRawPredictionCol("username")
  .setMetricName("areaUnderROC")

# measure the accuracy
val accuracy = evaluator.evaluate(predictionDf)
println(accuracy)